
.mat-toolbar {
  display: flex;
  justify-content: space-between;
}


.example-container {
  width: 500px;
  height: 300px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}